.right {
    padding: 0 15px;
}
button{
  margin-left: 5px;
}
.spacer {
    flex: 1 1 auto;
}
button:hover{
  background-color: cornflowerblue ;
}
.clicked{
  background-color: dodgerblue;
}
@media screen and (max-width:700px){
    mat-toolbar{
        height: 100%;
    }
    mat-toolbar-row{
        display: flex;
        flex-direction: column;
    }
}