<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-flat-button color="primary">
            <mat-icon>dashboard</mat-icon>
            Logo
        </button>
        <button [ngClass]="{clicked: page==='accueil'}" [routerLink]="['/home','accueil']" mat-flat-button color="primary">
                Accueil
        </button>
        <button [ngClass]="{clicked: page==='contact'}" [routerLink]="['/home','contact']" mat-flat-button color="primary">
                Contact
        </button>
        <span class="spacer"></span>
        <button [ngClass]="{clicked: page==='login' || page==='forget-password'}" [routerLink]="['/home','login']"  class="right" mat-flat-button color="primary">
            Se connecter
            <mat-icon>login</mat-icon>
        </button>
        <button [ngClass]="{clicked: page==='signup'}" [routerLink]="['/home','signup']"  class="right" mat-flat-button color="primary">
            S'inscrire
            <mat-icon svgIcon="register"></mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>