<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-flat-button color="primary">
            <mat-icon>dashboard</mat-icon>
            Logo
        </button>
        <button mat-flat-button color="primary">
                Accueil
        </button>
        <button mat-flat-button color="primary">
                Contact
        </button>
        <span class="spacer"></span>
        <button class="right" mat-flat-button color="primary">
            Se connecter
            <mat-icon>login</mat-icon>
        </button>
        <button class="right" mat-flat-button color="primary">
            S'inscrire
            <mat-icon svgIcon="register"></mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>