.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card{
    width: 50%;
}
a{
    text-decoration:none;
}
mat-card-header{
    display: flex;
    justify-content: center;
}
mat-card-content{
    display: flex;
    flex-direction: column;
}
.social-login{
    display: flex;
    flex-direction: column;
}
.social-btn{
    border: 1px ridge;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    display: flex;
}
.social-btn:hover{
    background-color: beige;
    cursor: pointer;
}
.social-btn img {
    height: 32px;
    float: left;
}

.social-btn.facebook img {  
    margin-left: 3px;
}
.social-btn.github img {
    margin-left: 3px;
}
.social-btn>span{
    margin: auto;
    align-self: center;
}
.separtor{
    display: flex;
}
hr{
    width: 48%;
    border: 0.25px ridge;
}
.input {
    width: 100%;
    margin-bottom: 7px;
}
.telephone{
    display: flex;
}
.input mat-icon{
    margin-right: 10px;
}
#hideEye1,#hideEye2{
    font-size: 20px;
}
#signupButton{
    width: 100%;
}
#connexion{
    align-self: center;
}
@media screen and (max-width:740px){
    mat-card{
        width: 80%;
    }
}
