<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Inscrivez-vous</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="social-login">
                <a class="social-btn google" (click)="clicker()">
                    <img src="../../../assets/icons/google-logo.png" alt="Google" /> 
                    <span>Inscrivez-vous avec Google</span>
                </a>
                <a class="social-btn facebook">
                    <img src="../../../assets/icons/fb-logo.png" alt="Facebook" /> 
                    <span>Inscrivez-vous avec Facebook</span>
                </a>
                <a class="social-btn github">
                    <img src="../../../assets/icons/github-logo.png" alt="Github" /> 
                    <span>Inscrivez-vous avec Github</span>
                </a>
            </div>
            <div class="separtor">
                <hr>
                <span>OU</span>
                <hr>
            </div>
            <form [formGroup]="userForm">
                <mat-form-field class="input">
                    <mat-label>Nom & Prénom</mat-label>
                    <mat-icon matPrefix color="primary">person</mat-icon>
                    <input type="text" formControlName="nomPrenom" matInput placeholder="Ex: Hanzouli Marwen">
                    <mat-error *ngIf="form.nomPrenom.hasError('required')">
                        Champ <strong>obligatoire</strong>
                    </mat-error>
                    <mat-error *ngIf="form.nomPrenom.hasError('minlength') && !form.nomPrenom.hasError('required')">
                        5 caractères au minimum
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="input">
                    <mat-label>Email</mat-label>
                    <mat-icon matPrefix color="primary">email</mat-icon>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="form.email.hasError('email') && !form.email.hasError('required')">
                      Entrer une adresse e-mail valide
                    </mat-error>
                    <mat-error *ngIf="form.email.hasError('required')">
                      Email est <strong>obligatoire</strong>
                    </mat-error>
                </mat-form-field>
                <div class="telephone">
                    <!-- <mat-form-field>
                        <mat-select>
                            <mat-option  *ngFor="let country of countries" [value]="country.code">{{country.name}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field class="input">
                        <mat-icon matPrefix color="primary">phone</mat-icon>
                        <mat-label>Téléphone</mat-label>
                        <input type="number"  formControlName="telephone" matInput placeholder="Num tél">
                        <mat-error *ngIf="form.telephone.hasError('required')">
                            Champ <strong>obligatoire</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field class="input">
                    <mat-label>Mot de passe</mat-label>
                    <mat-icon matPrefix color="primary">lock</mat-icon>
                    <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" >
                        <mat-icon color="primary" id="hideEye1">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.password.hasError('minlength') && !form.password.hasError('required')">
                      3 caractères au minimum
                    </mat-error>
                    <mat-error *ngIf="form.password.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="input">
                    <mat-label>Confirmer le mot de passe</mat-label>
                    <mat-icon matPrefix color="primary">lock</mat-icon>
                    <input [type]="hide ? 'password' : 'text'" matInput formControlName="repassword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" >
                        <mat-icon color="primary" id="hideEye2">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.repassword.hasError('mustMatch') && !form.repassword.hasError('required')">
                      Entrer le même mot de passe
                    </mat-error>
                    <mat-error *ngIf="form.repassword.hasError('required')">
                      Champ <strong>obligatoire</strong>
                    </mat-error>
                </mat-form-field>
                <button id="signupButton" mat-raised-button color="primary">S'inscrire</button>
            </form>
            <div id="connexion">
                Vous avez déjà un compte? <button [routerLink]="['/home','login']" mat-button color="primary">Connectez-vous</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>