.container{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card{
    width: 50%;
}

mat-card-header{
    display: flex;
    justify-content: center;
}
mat-card-content{
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    margin-bottom: 7px;
}

.input mat-icon{
    margin-right: 10px;
}


.links{
    align-self: center;
}
form{
    display: flex;
    flex-direction: column;
}

